* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main: #464646;
    --bg-card: #2D2727;
    --border-color: #efc745;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    min-height: 100vh;
    background-color: var(--bg-main);
}

h1 {
    color: #fff;
    font-family: "Lexend Deca Light";
    font-size: 2.5rem;
}

span {
    color: var(--border-color);
}

#card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-gap: 1rem;
    width: 90%;
    max-width: 600px; /* Set a maximum width to avoid very large screens */
}

.card {
    position: relative;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
}

.card,
.back-card,
.front-card {
    width: 100%;
    max-width: 15rem; /* Set a maximum width for larger screens */
    height: 10rem;
}

.front-card,
.back-card {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 0.6rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem;
}

.front-card {
    background: var(--border-color);
}

.back-card {
    transform: rotateY(180deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 1rem;
}

.card_selected {
    transform: rotateY(180deg);
}

.card_match .front-card {
    background-color: var(--bg-card);
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    #card-section {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for smaller screens */
        max-width: 100%; /* Full width for smaller screens */
    }
    h1 {
        font-size: 2rem;
    }
}
